/core/target/
/maven-model-generator-plugin/target/
/meta-model-maven-plugin/target/
/server/target/
/test/domain/target/
/test/web/target/
/test/es-test-domain-mmx/target/
/test/es-test-web/target/
/test/es-test-domain/target/